body {
  background: linear-gradient(#69b0ab, #ffffff);
  height: 100vh;
}

footer {
  bottom: 0;
  width: 100%;
}

.content-container {
  height: 80vh;
  background-color: #ffffff;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  bottom: 0;
}

.fren-request-img {
  height: 4.3rem;
  width: 4.3rem;
  object-fit: cover;
  border-radius: 50%;
}


.other-user-profile-img {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 50%;
}

.other-profile-info {
  z-index: 1;
  left: 20%;
  right: 20%;
  top: 11%;
}
