
footer {
  bottom: 0;
  width: 100%;

.bg-container {
  background: linear-gradient(#69b0ab,#ffffff);
  height: 100vh;
}

.content-container {
  height: 80vh;
  background-color: #ffffff;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
