body {
  background: linear-gradient(#69b0ab, #ffffff);
  height: 100vh;
}

footer {
  bottom: 0;
  width: 100%;
}

.content-container {
  height: 80vh;
  background-color: #ffffff;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  bottom: 0;
}

.fren-name-fren-list {
  font-size: 1.2rem;
  font-weight: 500;
}

.fren-request-img {
  height: 4.3rem;
  width: 4.3rem;
  object-fit: cover;
  border-radius: 50%;
}
